/* work sens font from google font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared style  */
* {
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.section-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.text-light-gray {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
/* header section  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;

  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.btn-primary {
  color: #fff;
  border-radius: 8px;
  background: #ff900e;
  padding: 21px 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  margin-top: 32px;
  margin-bottom: 50px;
}
/* banner part  */
.banner {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}
/* main section */

main {
  width: 1440px;
  margin: 70px auto;
  /* border: 1px solid red; */
}
/* team fetures section  */
.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 50%;
}
.teams-image img {
  margin-top: 85px;
  width: 100%;
}
.teams-content {
  width: 50%;
  padding-left: 76px;
  padding-right: 76px;
  color: var(--dark-03, #727272);
  font-size: 2.8rem;
  font-weight: 500;
}
#our-text {
  color: #131313;
  font-weight: 700;
}
#fetures-text {
  color: #ff900e;
}
/* teams fetures section end  */
/* fetures container section start  */
.fetures-container {
  display: flex;
  margin-top: 100px;
  gap: 100px;
}
.fetures-container .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  /* padding: 10px; */
}
.fetures-content > .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.ten-years-badge {
  width: 342px;
  border-radius: 8px;
  background: #ff900e;
  padding: 45px;
  color: #fff;
  text-align: center;
}
.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
}
.ten-years-badge p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

/* some facts section start  */
.facts-card-container {
  display: flex;
  justify-content: space-between;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 35px;
  text-align: center;
}
.card-stats {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-title {
  font-size: 1.2rem;
  color: #727272;
  font-weight: 600;
  margin: 5px;
}
/* sponsors section  */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.sponsors .section-title {
  margin-bottom: 10px;
}

/* responsive for media query */
/* small device or mobile device */
@media screen and (max-width: 576px) {
  .banner,
  main {
    width: auto;
  }
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-image {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .teams-image img {
    width: 100%;
  }
  .teams-content,
  .sponsors-img-container img {
    width: 100%;
    padding: 40px;
  }
}
/* media query for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  .banner {
    width: auto;
  }
  nav {
    flex-direction: column;
  }
}
