/* work sens font from google font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header section  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;

  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.btn-primary {
  color: #fff;
  border-radius: 8px;
  background: #ff900e;
  padding: 21px 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  margin-top: 32px;
  margin-bottom: 50px;
}
/* banner part  */
.banner {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}
/* main section  */
main {
  width: 1440px;
  margin: 0 auto;
}
/* team fetures section  */
.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 50%;
}
.teams-image img {
  margin-top: 85px;
  width: 100%;
}
.teams-content {
  width: 50%;
  padding-left: 76px;
  padding-right: 76px;
  color: var(--dark-03, #727272);
  font-size: 2.8rem;
  font-weight: 500;
}
#our-text {
  color: #131313;
  font-weight: 700;
}
#fetures-text {
  color: #ff900e;
}
.content-description {
  font-size: 1rem;
}
/* teams fetures section end  */

/* responsive for media query */
/* small device or mobile device */
@media screen and (max-width: 576px) {
  .banner,
  main {
    width: auto;
  }
  header {
    padding: 20px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .teams-image {
    grid-template-columns: 1fr;
  }
}
/* media query for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  .banner {
    width: auto;
  }
  nav {
    flex-direction: column;
  }
}
